#splash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--background);
    opacity: 1;
}

.progress-bar {
    background: 50%;
    border-radius: 100px;
    align-items: center;
    display: flex;
    height: 24px;
    padding: 1px;
    box-shadow: inset 0 0 12px 2px var(--tertiary);
    width: 60%;
}

.progress-value {
    border-radius: 100px;
    background: var(--primary);
    height: 20px;
    animation: progress 2s normal forwards 1;
}

@keyframes progress {  
  0% { width: 0; }
  80% { width: 100%; }
  100% { width: 100%; }
}